# Arquivos gerados pelo Poetry
__pypackages__/
.poetry/

# Arquivos gerados pelo Pydantic
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente virtual (venv)
venv/
.venv/
out/
# Logs e arquivos temporários
*.log
*.swp
*.tmp

# Dependências Python
*.egg-info/
dist/
build/
*.egg
*.egg-info
